main {
  display: flex;
}

.left {
  width: 50vw;
  color: red;
  background-color: grey;
}

.right {
  width: 50vw;
  color: green;
}

.chart {
  padding: 50px;
  border: 2px solid blue;
  text-align: center;
}
